*{
    padding:0;
    margin:5px;
}
body{
    background-image: url(pinkbg.avif);
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: 100% 100%;

}
.container h2{
    font-size: 50px;
    padding-bottom: 20px;
    font-style: bold;
    color:black;
}
.row a{
  color: black;
    width:300px;
    padding: 1400px;
  font-style: bold;
  font-size: 20px;
}
.container h1{
    padding-left: 20px;
    margin-bottom: 20px;
    padding-top: 50px;
    font-size: 20px;
}
.container p{
    font-size: 20px;
    padding-left: 30px;
    margin-bottom: 10px;
    
}
.container a{
    font-size: 27px;
    padding-left: 30px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color:yellow;
}
.card-section{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flip-card {
  padding-bottom: 146px;
  padding-left: 10px;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  display:grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 1s ease;
  transform-style: preserve-3d;
  
}
.flip-card-front, .flip-card-back {
 
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  grid-area: 1/1;
}

.flip-card-front {
  background-image: url(schoolbg2.avif);
  color: white;
}

.flip-card-back {
  background-image:url(schoolbg2.avif);
  color: white;
  transform: rotateY(180deg);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
  